@import url("https://fonts.cdnfonts.com/css/candal");
/* font-family: 'Candal', sans-serif; */
@import url("https://fonts.cdnfonts.com/css/sachlette-signature-2");
/* font-family: 'Sachlette Signature', sans-serif; */
@import url("https://fonts.cdnfonts.com/css/waste-of-time");
/* font-family: 'Waste of time', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background: rgb(6, 4, 6);
  background-image: url(./fondo-body.jpg);
  font-family: "Candy Beans", sans-serif;
  color: aliceblue;
  width: 100%;
  height: 100%;
}

/* section 1 */
/* nav */
.navbar {
  width: 100%;
  background-color: black;
  height: 48px;
  padding: 10px 12px;
  position: relative;
}

.checkbox,
.navbar__icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 10px;
  right: 12px;
  cursor: pointer;
}

.navbar__icon {
  pointer-events: none;
  font-size: 24px;
}

.checkbox {
  opacity: 0;
}

.fi-br-cross {
  display: none;
}

.checkbox:checked ~ .fi-br-menu-burger {
  display: none;
}

.checkbox:checked ~ .fi-br-cross {
  display: block;
}

.navbar__menu-menu {
  width: 190px;
  backdrop-filter: blur(20%) saturate(200%);
  background-color: rgba(94, 91, 91, 0.151);
  position: absolute;
  top: -155px;
  z-index: 1;
  right: 0px;
  transition: 250ms;
}

.menu__item {
  list-style: none;
}

.menu__item {
  text-decoration: none;
  color: inherit;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;
}

.menu__item a {
  color: aliceblue;
}

.checkbox:checked ~ .navbar__menu-menu {
  display: block;
  top: 48px;
  z-index: 3;
}

.navbar__menu-menu li:hover {
  background-color: #000000;
}

/* div */
.portada {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

/* header */
.container__img {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: left;
  background-image: url(./mio.jpg);
  opacity: 0.5;
}
.container__titulo-header {
  font-size: 3rem;
  text-shadow: 3px 3px grey;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10px;
}
.container__titulo-herramientas {
  font-size: 3rem;
  text-shadow: 3px 3px grey;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10px;
}

.container__titulo-projects{
  font-size: 3rem;
  text-shadow: 3px 3px grey;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10px;
}

.container-titulo-form{
  font-size: 3rem;
  text-shadow: 3px 3px grey;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10px;
}

.container__img-parrafo {
  font-size: 1.3rem;
  text-align: center;
  padding: 1.5rem;
  /* padding-top: 30px; */
  text-transform: (-50%, -50%);
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

/* div padre */
.container__lenguajes {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.container__card-card {
  margin: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 2);
}
.card__figure {
  padding: 10% 10%;
}
.container__card-card img {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  background-color: aliceblue;
}

/* section 2 */
.container__container-git {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.container__card-works {
  width: 200px;
  height: 200px;
  margin: 20px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 2);
}

.card__works img {
  width: 100%;
  height: 100%;
}

.card__works-letras--uno {
  font-family: "Waste of time", sans-serif;
  font-size: 3rem;
  color: black;
  position: absolute;
  text-align: center;
  top: 35%;
  left: 1%;
}

.card__works-letras--dos {
  font-family: "Waste of time", sans-serif;
  font-size: 3rem;
  color: black;
  position: absolute;
  text-align: center;
  top: 25%;
  left: 1%;
}

.card__works-letras--tres {
  font-family: "Waste of time", sans-serif;
  font-size: 3rem;
  color: black;
  position: absolute;
  text-align: center;
  top: 35%;
  left: 15%;
}

/* main */
.form__contacto {
  width: 450px;
  margin: auto;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(60px);
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 5px;
}
.container-titulo-form {
  font-size: 3rem;
  text-shadow: 3px 3px grey;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10px;
}

input,
textarea {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 1rem;
  border: none;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

#boton {
  background: #c2bec2;
  padding: 20px;
}

#boton :hover {
  cursor: pointer;
}

/* footer */
.footer {
  margin-top: auto;
  text-align: center;
}

.footer__redes {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.footer__redes :hover {
  color: aliceblue;
}

.footer__redes a {
  font-size: 50px;
}

.redes-linkedin {
  color: rgb(40, 77, 124);
}
.redes-instagram {
  color: rgb(114, 7, 96);
}
.redes-whatsapp {
  color: green;
}

@media screen and (min-width: 320px) {
  .portada__subtitulo {
    color: aliceblue;
    font-family: "Sachlette Signature", sans-serif;
    font-size: 2rem;
    position: absolute;
    writing-mode: vertical-lr;
    rotate: 180deg;
    left: 30px;
  }

  .portada__titulo {
    position: absolute;
    writing-mode: vertical-lr;
    rotate: 180deg;
    left: 70px;
    font-size: 3rem;
  }
  .form__contacto {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  /* .page{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } */

  .fi-br-cross,
  .fi-br-menu-burger,
  .checkbox {
    display: none;
  }

  .navbar__menu-menu {
    width: unset;
    display: flex;
    top: 0;
    background-color: black;
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 10px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.1px);
-webkit-backdrop-filter: blur(1.1px);
border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 1.5rem;
  }

  .navbar {
    width: 100%;
    display: flex;
  }

  .portada__subtitulo {
    color: aliceblue;
    font-family: "Sachlette Signature", sans-serif;
    font-size: 5rem;
    writing-mode: horizontal-tb;
    rotate: 360deg;
    top: 30%;
    right: 5%;
  }

  .portada__titulo {
    font-size: 4rem;
    bottom: 400px;
    writing-mode: horizontal-tb;
    rotate: 360deg;
    top: 45%;
    right: 10%;
  }
 .container__titulo-header{
  font-size: 7rem;
  bottom: 10%;
  }
  .container__titulo-herramientas {
    font-size: 7rem;
    margin-bottom: 10%;
  }

  .container__titulo-projects {
    font-size: 7rem;
    margin-bottom: 10%;
  }
  .container-titulo-form {
    font-size: 7rem;
    margin-bottom: 10%;
  }
  .container__img-parrafo {
    font-size: 2.3rem;
  }

  .container__card-card {
    width: 100%;
    flex-direction: row;
    margin-bottom: 15%;
    margin: 0;
    margin-bottom: 15%;
  }
  .card__figure {
    padding: 2% 2%;
  }
  .container__card-projets {
    display: flex;
    width: 100%;
    margin-bottom: 10%;
  }
  .container__card-works {
    width: 300px;
    height: 300px;
  }

  .card__works-letras--uno {
    font-size: 5rem;
    position: absolute;
    text-align: center;
    top: 20%;
    left: 3%;
  }

  .card__works-letras--dos {
    font-size: 4.5rem;
    position: absolute;
    text-align: center;
    top: 08%;
  }

  .card__works-letras--tres {
    font-size: 5rem;
    position: absolute;
    text-align: center;
    top: 20%;
    left: 0;
  }
  input,
  textarea {
    font-size: 1.5rem;
  }
  .form__contacto {
    width: 90%;
  }

  .footer__redes a {
    font-size: 5rem;
  }

  .copy {
    font-size: 1.5rem;
  }
  .form__contacto {
    margin-bottom: 10%;
  }
}

@media screen and (min-width: 1024px) {
  .navbar {
    width: 100%;
    height: 10%;
    display: flex;
  }

  .portada__subtitulo {
    color: aliceblue;
    font-family: "Sachlette Signature", sans-serif;
    font-size: 6rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    }

  .portada__titulo {
    position: absolute;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    top: 50%;
    bottom: 400px;
  }
   
  .container__img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position:center;
    background-image: url(./mio.jpg);
    opacity: 0.5;
  }
  .container__titulo-header{
    font-size: 7rem;
    bottom: 10%;
    }
    .container__titulo-herramientas {
      font-size: 7rem;
      /* margin-bottom: 10%; */
    }
  
    .container__titulo-projects {
      font-size: 7rem;
      margin-bottom: ;
    }
    .container-titulo-form {
      font-size: 7rem;
      margin-bottom: 10%;
    }

  .container__img-parrafo {
    font-size: 3rem;
  }

  .container__lenguajes {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10%;
  }

  .container__card-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .container__card-works {
    width: 300px;
    height: 300px;
  }

  .card__works-letras--uno {
    font-size: 5rem;
    position: absolute;
    text-align: center;
    left: 6%;
  }

  .card__works-letras--dos {
    font-size: 4.5rem;
    position: absolute;
    text-align: center;
  }

  .card__works-letras--tres {
    font-size: 5rem;
    position: absolute;
    text-align: center;
    left: 5%;
  }

  .container__container-git {
    display: flex;
    flex-direction: row;
    padding: 10%;
  }

  .form__contacto {
    width: 900px;
  }

  .footer__redes a {
    font-size: 7rem;
  }

  .copy {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1440px){
  .navbar {
    width: 100%;
    height: 10%;
    display: flex;
  }

  .portada__subtitulo {
    color: aliceblue;
    font-family: "Sachlette Signature", sans-serif;
    font-size: 6rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    }

  .portada__titulo {
    position: absolute;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    top: 50%;
    bottom: 400px;
  }
   
  .container__img {
    width: 100%;
    height: 100%;
    background-size: cover;
    /* background-position:center; */
    background-image: url(./mio.jpg);
    opacity: 0.5;
  }
  .container__titulo-header{
    font-size: 7rem;
    bottom: 10%;
    }
    .container__titulo-herramientas {
      font-size: 7rem;
      /* margin-bottom: 10%; */
    }
  
    .container__titulo-projects {
      font-size: 7rem;
      margin-bottom: ;
    }
    .container-titulo-form {
      font-size: 7rem;
      margin-bottom: 10%;
    }

  .container__img-parrafo {
    font-size: 3rem;
  }

  .container__lenguajes {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10%;
  }

  .container__card-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .container__card-projets{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .container__card-works {
    width: 300px;
    height: 300px;
  }

  .card__works-letras--uno {
    font-size: 6rem;
    position: absolute;
    text-align: center;
    top: 15%;
    left: 5%;
  }

  .card__works-letras--dos {
    font-size: 5.5rem;
    position: absolute;
    text-align: center;
    top: 15%;
  }

  .card__works-letras--tres {
    font-size: 6rem;
    position: absolute;
    text-align: center;
    top: 30%;
    left: 5%;
  }

  .container__container-git {
    display: flex;
    flex-direction: row;
    padding: 10%;
  }

  .form__contacto {
    width: 900px;
  }

  .footer__redes a {
    font-size: 7rem;
  }

  .copy {
    font-size: 2rem;
  }
}

@media screen and (min-width: 2560px){
  .navbar {
    width: 100%;
    height: 10%;
    display: flex;
  }

  .portada__subtitulo {
    color: aliceblue;
    font-family: "Sachlette Signature", sans-serif;
    font-size: 6rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    }

  .portada__titulo {
    position: absolute;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    top: 50%;
    bottom: 400px;
  }
   
  .container__img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(./black-fondo);
    opacity: 0.5;
  }
  .container__titulo-header{
    font-size: 7rem;
    bottom: 10%;
    }
    .container__titulo-herramientas {
      font-size: 7rem;
      /* margin-bottom: 10%; */
    }
  
    .container__titulo-projects {
      font-size: 7rem;
      margin-bottom:10% ;
    }
    .container-titulo-form {
      font-size: 7rem;
      margin-bottom: 10%;
    }

  .container__img-parrafo {
    font-size: 3rem;
  }

  .container__lenguajes {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10%;
  }

  .container__card-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .container__card-projets{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .container__card-works {
    width: 300px;
    height: 300px;
  }

  .card__works-letras--uno {
    font-size: 6rem;
    position: absolute;
    text-align: center;
    top: 15%;
    left: 5%;
  }

  .card__works-letras--dos {
    font-size: 5.5rem;
    position: absolute;
    text-align: center;
    top: 15%;
  }

  .card__works-letras--tres {
    font-size: 6rem;
    position: absolute;
    text-align: center;
    top: 30%;
    left: 5%;
  }

  .container__container-git {
    display: flex;
    flex-direction: row;
    padding: 10%;
  }

  .form__contacto {
    width: 900px;
  }

  .footer__redes a {
    font-size: 7rem;
  }

  .copy {
    font-size: 2rem;
  }
}
